[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ply = "ply"

[dev-packages]

[requires]
python_version = "3.9"  

[scripts]
calc = "python ply-3.11/example/calc/calc.py"
